@import "@/styles/theme";

.button {
  font-size: 1.6rem;
  border-radius: 3rem;
  border: none;
  height: 4.6rem;
  padding: 0 6rem;
  font-weight: $bold;
  transition: background-color 0.3s ease;
}
.orange_button {
  background-color: $main-color;
  color: white;
}
.gray_button {
  background-color: $gray-100;
  color: $gray-400;
}
.red_button {
  background-color: #e74141;
  color: white;
}