@import "@/styles/theme";
@import "@/styles/mixin";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 7rem;
  margin: 0;

  .title_wrap {
    margin-bottom: 5rem;
    font-size: 3.2rem;
    display: flex;
    align-items: flex-end;
    font-weight: $medium;

    .title_nickname {
      // font-size: 4rem;
      color: $main-color;
      min-width: 12rem;
    }
    .title_txt {
      text-wrap: nowrap;
    }
    @include respond(mobile) {
      font-size: 2.5rem;
    }
  }

  .storage_menu {
    display: flex;
    gap: 2rem;
    text-wrap: nowrap;
    .cocktail_recorded,
    .cocktail_favorite {
      cursor: pointer;
      padding-bottom: 1rem;
      border-bottom: 2px solid transparent;
    }

    .cocktail_recorded.active,
    .cocktail_favorite.active {
      border-bottom: 2px solid orange; /* 활성화된 탭 스타일 */
    }
  }
  .filterBox {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid black;
    border-radius: 1.5rem;
    background-color: white;
    padding: 0.5rem;
    width: 8.5rem;
    margin: 2rem 2rem 2rem 0;
    .dropdownArrow {
      position: absolute;
      cursor: pointer;
      left: 0.6rem;
      top: 50%;
      transform: translateY(-50%); /* 세로 축 중앙 정렬 보정 */
      width: 1.5rem;
    }
    .select {
      display: flex;
      flex-direction: row;
      appearance: none;
      border: none;
      outline: none;
      width: 100%;
      font-size: 1.5rem;
      background-color: transparent;
      cursor: pointer;
      min-width: 8rem; /* 드롭다운 리스트 최소 너비 */
    }
    .select option {
      text-align: center;
    }
  }
  .recorded_card_container {
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
    width: 100%;
    gap: 5rem;

    @include respond(mobile) {
      margin-top: 2rem;
    }
  }
  .favorite_card_container {
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    width: 100%;

    @include respond(mobile) {
      width: 100vw;
      padding: 2rem 4rem;
    }
  }
  .empty_message {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -10rem;
    right: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    h3 {
      color: $gray-200;
    }
  }
  @include respond(mobile) {
    padding: 0rem;
    justify-content: center;
    .favorite_card_container {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
  @include respond(tablet) {
    padding: 2rem;
    gap: 3rem;
    justify-content: center;
    .favorite_card_container {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
  @include respond(laptop) {
    padding: 3rem;
    gap: 4rem;
    justify-content: flex-start;
    align-items: flex-start;
    .favorite_card_container {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
}
