@import "@/styles/theme";
@import "@/styles/mixin";

.filter_box {
  box-shadow: $shadow;
  border-radius: 0 2rem 2rem 0;
  width: 42rem;
  height: 100vh;
  padding: 0rem 5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;

  position: sticky;
  left: 0rem;
  top: 7rem;

  .tasting_wrap {
    width: 100%;
  }
  .base_wrap {
    width: 100%;
  }

  h3 {
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: $bold;
    user-select: none;
  }

  .item_wrap {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem 3rem;
  }

  label {
    cursor: pointer;

    input {
      display: none;

      &:checked + .checkbox_content {
        // border: 0.1rem solid $main-color;
        box-shadow: 0rem 0rem 0.8rem rgba(255, 139, 7, 0.559);
        
      }
    }
    .checkbox_content {
      height: 3.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: $shadow;
      // border: 0.2rem solid black;
      border-radius: 1rem;
      font-size: 1.4rem;
      span {
        user-select: none;;
      }
    }

    img {
      width: 2rem;
      margin-right: 0.5rem;
    }
  }
}

.booziness_wrap {
  width: 100%;
}
.slider_wrap {
  margin-top: 2rem;
}
.sweet_wrap {
  width: 100%;
}

.btn_wrap {
  width: 100%;
  margin-top: 4rem;
  justify-items: center;

  .search_btn {
    cursor: pointer;
    width: 100%;
    position: relative;
  }

  .return_btn {
    cursor: pointer;
    margin-top: 2rem;
    padding: 0 1rem;
    color: $main-color;
    display: flex;
    align-items: center;
    gap: 1rem;

    .return_svg {
      // height: 1.4rem;
    }

    .return_txt {
      color: $main-color;
    }
  }
}
