@import "@/styles/theme";

.nulldata {
  font-size: 48px;
  display: block;
  text-align: center;
  color: #ff6347;
}

.cocktailList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr)); 
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem;
  gap: 3rem;
}