@import "@/styles/theme";
@import "@/styles/mixin";

.Find {
  // 가운데 정렬 페이지
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // 해쉬태그 전까지, 칵테일 검색 문구 및 검색 바까지. 해쉬태그 포함x
  .search_space {
    width: 100%;
    margin-top: 5rem;
    display: grid;
    place-items: center;
    // "칵테일 이름 또는 재료를 검색해보세요" 문구 스타일
    .hashtagSearchGuide {
      font-size: 2rem;
      color: rgb(136, 136, 136);
      margin-bottom: 2rem;
      user-select: none;
    }
  }

  // form 태그 스타일, 문구를 제외한 검색 바 전체를 감싸는 form 태그 스타일
  .search_box {
    width: 100rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 2rem;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    // select 태그 스타일
    .selectBox {
      flex: 1.6;
      position: relative;
      display: flex;
      text-align: center;
      justify-content: center;
      select {
        border-color: transparent;
        font-size: 1.7rem;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          color: $gray-300;
          transition: 0.2s ease;
          border-radius: 2rem;
        }
        &:focus {
          outline: none;
        }
      }
      option {
        text-align: center;
      }
    }
    .search_input {
      flex: 6;
      border: none;
      outline: none;
      text-align: left;
      font-size: 1.8rem;
      padding-left: 3rem;
      line-height: 2rem;
    }
    .search_icon {
      flex: 1;
      display: flex;
      justify-content: center;
      cursor: pointer;
      svg {
        width: 2.5rem;
      }
    }
  }

  // 해시태그
  .tags_box {
    margin-top: 3rem;
    width: 80%;
    display: flex;
    grid-template-columns: repeat(6, auto);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1.8rem;

    .hashtag {
      color: #3a5ddf;
      background-color: #c8d4ff;
      border-radius: 4rem;
      padding: 0.4rem 1rem;
      user-select: none;

      cursor: pointer;
      &:hover {
        color: $gray-400;
        transition: 0.1s ease-in;
      }
    }

    .TOP {
      color: rgb(247, 55, 71);
      background-color: rgb(255, 215, 215);
    }

    .hash_emoji {
      height: 20px;
      position: relative;
      top: 5px;
      margin-left: 3px;
    }

    // 체크박스가 체크되면 스타일 변경
    .cBox {
      appearance: none;
      &:checked + .hashtag {
        background-color: #476df7;
        color: white;
        transition: 0.1s;
      }

      &:checked + .TOP {
        background-color: rgb(252, 82, 96);
      }
    }
  }

  // 📱 모바일
  @include respond(mobile) {
    .search_box {
      width: 85vw;
      height: 6rem;
    }

    .tags_box {
      width: 100%;
      gap: 1rem;
    }
  }

  // 💻 태블릿
  @include respond(tablet) {
    .search_space {
      width: 85vw;
    }
    .search_box {
      width: 100%;
      height: 5.5rem;
    }
    .tags_box {
      width: 100%;
      gap: 1.2rem;
    }
  }
  @include respond(laptop) {
    .search_box {
      width: 85vw;
    }
    .search_box {
      width: 90%;
      max-width: 100rem;
    }
    .tags_box {
      width: 90%;
      gap: 1.2rem;
      max-width: 100rem;
    }
  }
}
