// @import "@/styles/theme";
$mobile: 575px;
$mobile-landscape: 932px; //아이폰 14프로맥스 기준
$tablet: 720px;
$laptop: 1024px;
$pc: 1440px;

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) and (orientation: portrait),
      (max-width: $mobile-landscape) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: $mobile) and (max-width: #{$tablet - 1px}) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (min-width: $tablet) and (max-width: #{$laptop - 1px}) {
      @content;
    }
  } @else if $breakpoint == pc {
    @media (min-width: $laptop) {
      @content;
    }
  }
}
