// color theme
$main-color: #ff9922;

$gray-100: #ebebeb;
$gray-200: #cccccc;
$gray-300: #a0a0a0;
$gray-400: #717171;
$gray-500: #191919;

$blue-100: #d8e0ff;
$red-100: #ffd4d4;

$shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);

//font
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
