@import "@/styles/theme";

.navigation {
  width: 7rem;
  height: 21.8rem;
  background-color: white;
  box-shadow: $shadow;
  position: fixed;
  right: 0;
  top: 14rem;
  border-radius: 2rem 0 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0.7rem;

  li {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 1.2rem;
    height: 5rem;
    cursor: pointer;
  }

  .heart_svg {
    stroke: $gray-500;
    fill: none;

    path {
      stroke-width: 3;
    }
  }
}
