@import "@/styles/theme";


.filter_section {
  width: 98vw;
  height: 110rem;
  margin-bottom: 10rem;
  text-wrap: nowrap;

  h1 {
    width: fit-content;
    font-size: 5.5rem;
    color: $main-color;
    font-weight: $bold;
    
  }

  .filter_card_wrap {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 2rem;
    width: 100%;
    padding: 0;
  }
  .fitler_wrap {
    padding-top: 2rem;
  }
  .card_wrap {
    padding-right: 30rem;
    width: 100%;
  }
  .nomore_data {
    font-size: 5rem;
    color: $main-color;
    font-weight: $bold;
    margin-bottom: 5rem;
    text-align: center;
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}