@import "@/styles/theme";

.filter_section {
  width: 100vw;
  height: 110rem;
  margin-bottom: 10rem;
  text-wrap: nowrap;

  h1 {
    font-size: 5.5rem;
    color: $main-color;
    font-weight: $bold;
  }

  .filter_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}
