@import "@/styles/theme";

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  // color: inherit;
  color: $gray-500;
  list-style: none;
}
