@import "@/styles/theme";

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin-top: 7rem; //헤더크기 만큼 내려옴
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  // color: inherit;
  color: $gray-500;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}
