@import "@/styles/theme";
@import "@/styles/mixin";

html {
  // PC 기준 (1rem = 10px)
  font-size: 62.5%;
}
@include respond(tablet) {
  html {
    font-size: 56.25%;
    //  1rem = 9px
  }
}

@include respond(mobile) {
  html {
    font-size: 50%;
    //  1rem = 8px
  body {
    margin-top: 2rem; // 모바일에서는 헤더가 없으므로 margin-top 제거
    height: auto; // 모바일에서는 전체 높이를 auto로 설정
    }
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  // color: inherit;
  color: $gray-500;
  list-style: none;
}

body {
  font-size: 1.6rem;
  margin-top: 7rem; //헤더크기 만큼 내려옴
  height: 100vh;
}
