@import "@/styles/theme";

.top100_section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .title {
    font-size: 5.5rem;
    color: $main-color;
    font-weight: $bold;
    text-wrap: nowrap;
  }

  .slide_area {
    width: 85%;
    height: 30rem;
    justify-content: center;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .slide_btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      .right_svg {
        transform: scaleX(-1);
      }
    }
  }

  .find_top100_btn {
    outline: none;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 2rem;
    box-shadow: $shadow;
    height: 5rem;
    width: 39rem;
    font-weight: $bold;
    font-size: 1.8rem;
    padding: 1rem 0;
    position: relative;
    margin-top: 20rem;
    cursor: pointer;
    &:hover {
      background-color: $gray-100;
      transition: 0.2s ease-in;
    }
  }
}
.top100_swiper {
  width: 70vw; 
  max-width: 70vw;
  height: 48rem;
  overflow: visible;
}
.slider_wrap {
  padding: 10rem;
  cursor: pointer;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // width 주지 마세요 ❌
}
.active {
  .cocktailBox {
    padding: 1.5rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
    box-shadow: $shadow;
    border-radius: 3rem;
    overflow: hidden;
  }
  img {
    position: relative;
    transform: scale(1.15); 
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
    }
  }
  p {
    transition: color 0.3s ease;
    color: $main-color;
    font-size: medium;
  }
}
.non_active {
  cursor: pointer;
  .cocktailBox {
    &:hover {
      box-shadow: $shadow;
      border-radius: 3rem;
      overflow: hidden;
      img {
        transform: scale(1.15); 
        transition: transform 0.3s ease;
      }
    }
    padding: 1.5rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
  }
}
.center_name_ko {
  font-weight: $medium;
  font-size: small;
  position: relative;
  justify-content: center;
  text-align: center;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;

}
.center_name_en {
  color: $gray-400;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;

}
.cocktailImage {
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  flex-shrink: 0;
  padding: 1rem;
}
