@import "@/styles/theme";

.top100_section {
  padding-bottom: 5rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    font-size: 5.5rem;
    color: $main-color;
    font-weight: $bold;
    text-wrap: nowrap;
  }

  .slide_area {
    width: 100%;
    height: 35rem;
    justify-content: center;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
    .slide_btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      .right_svg {
        transform: scaleX(-1);
      }
    }
  }

  .find_top100_btn {
    border-radius: 2rem;
    box-shadow: $shadow;
    height: 5rem;
    width: 39rem;
    font-weight: $bold;
    font-size: 1.8rem;
    padding: 1rem 0;
  }
}
.slide_viewport {
  position: relative;

}
.slide_inner {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 70vw;
  transition: transform 0.5s ease;
}
.active {
  box-shadow: $shadow;
  border-radius: 4rem;
  color: $main-color;
}
.center_name_ko {
  font-weight: $medium;
  font-size: x-large;
  position: relative;
  justify-content: center;
  text-align: center;
}
.center_name_en {
  color: $gray-400;
}
.card {
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  width: 28rem;
  flex-shrink: 0;
  padding: 1rem;
}
