@import "@/styles/theme";

.slider {
  width: 100%;
  input {
    -webkit-appearance: none; /* 기본 브라우저 스타일 제거 */
    appearance: none;
    background-color: $gray-100;
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: $main-color;
    border-radius: 3rem;
    cursor: grab;
  }
}
