@import "@/styles/theme";
.card_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 44rem;
  height: 22rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: $shadow;
  position: relative;

  .desc_link {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    position: relative;

    .info_wrap {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      width: 19rem;

      .name {
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: $light;
        text-align: center;
      }
      .img {
        height: 15rem;
        object-fit: contain;
        position: absolute;
        top: 25%;
      }
    }

    .line {
      border: 0.1rem solid $gray-100;
      height: 20rem;
      position: relative;
      top: 1rem;
    }

    .memo_wrap {
      padding: 2rem 2.5rem;
      width: 24.9rem;

      .memo {
        text-align: center;
        font-size: 1.6rem;
        padding-top: 1rem;
        height: 13rem;
        line-height: 2.4rem;
        width: 20rem;
        //말줄임
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

        .noMemo {
          position: absolute;
          top: 42%;
          right: 4rem;
          font-size: 1.5rem;
          span {
            color: $gray-300;
          }
        }
      }
    }
  }
}

.heartAndStar_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  gap: 2rem;
}
.star_wrap {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:-0.5rem;
  right: 2.5rem;

  span, svg {
    position: absolute;
  }
}

.rating_number {
  z-index: 2;
  color: black; // 필요시 조절
  font-size: 1.7rem;
  pointer-events: none;
}

.star {
  z-index: 1;
  fill: white;
  transition: fill 0.2s;

  &.filled, &.hovered {
    fill: orange;
  }
}
.heart {
  stroke-width: 2;
  cursor: pointer;

  &.unClicked {
    fill: white;
    stroke: $gray-200;
  }

  &.clicked {
    fill: $main-color;
    stroke: $main-color;
  }
}